.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.load-more-button {
  padding: 10px 15px;
  background-color: #ed7a07;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #ed7a07be;
}
